* {

	font-family: 'Merriweather', serif;
	box-sizing: border-box;
	font-size: 16px;

}

$mainFont: 'Merriweather', serif;
$fontSizeHeading: 1.875rem;
$fontSizeTitle: 1.5rem;
$fontSizeSubtitle: 1.125rem;
$fontSizeBody: 0.875rem;
$colorDarkest: #233139;
$colorBase: #727d84;
$colorCallout: #6fbbb7;
$colorTextOverDark: white;

h2 {

	font-size: $fontSizeHeading;
	font-family: $mainFont;

}

h3 {
	
	font-size: $fontSizeTitle;
	font-family: $mainFont;

}

h4 {

	font-size: $fontSizeSubtitle;
	font-family: $mainFont;
	font-style: italic;

}

p {
	
	font-size: $fontSizeBody;
	font-family: $mainFont;

}

.home-page-wrapper{		

	background: $colorBase;

	}

.login-page-wrapper{

	background: $colorBase;

	}

.profile-page-wrapper{

	background: $colorBase;

	}

.queue-page-wrapper{

	background: $colorBase;

	}

.leaderboard-page-wrapper{

	background: $colorBase;

	}

.create-game-page-wrapper{

	background: $colorBase;

	}

.emailRejection {
	color: darkred;
	font-style: italic;
}